ABAS_HOMEDIR=/abas/s3
ABAS_CLIENTDIR=/abas/erp1
ABAS_CLIENTID=erp1

EDP_CLIENT=/abas/erp1
EDP_USER=
EDP_PASSWORD=sy
EDP_HOST=DOCKER_HOST
EDP_PORT=6560

NEXUS_HOST=DOCKER_HOST
NEXUS_PORT=8081
NEXUS_NAME=docker
NEXUS_PASSWORD=admin123

SSH_HOST=DOCKER_HOST
SSH_PORT=2205
SSH_USER=s3
SSH_PASSWORD=none
SSH_KEY=

installType=SSH
